* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62,5%;
  scroll-behavior: smooth;
  overflow-x: hidden;
  scrollbar-width: none;
  color: #4d4646;
}

body {
  font-family: 'Amatic SC', cursive;
  position: relative;
}

li,
button,
label,
input,
a,
p {
  font-size: 1.5rem;
}

h1 {
  font-size: 5.5rem;
}

h2 {
  font-size: 4rem;
}

h3 {
  font-size: 2rem;
}

h4 {
  font-family: " Vibes";
  font-size: 1.7rem;
}

h5 {
  font-size: 1.2rem;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #2c2c2c;
}

body {
  font-family: "Ruhl";
}

body {
  min-width: 280px;
}

.main-head {
  width: 95%;
  margin: 0 0 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.main-head nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  min-height: 10vh;
  width: 70%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.main-head nav .Logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 10rem;
          flex: 1 1 10rem;
}

.main-head nav .Logo h1 {
  margin: 2rem;
}

.main-head nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 40rem;
          flex: 1 1 40rem;
}

.intro {
  min-height: 90vh;
  width: 90%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding-bottom: 50px;
}

.intro h2 {
  font-size: 5rem;
  padding: 1.5rem 0rem;
  background-image: -webkit-gradient(linear, left top, right top, from(#0e2875), to(#38a4d3));
  background-image: linear-gradient(left, #0e2875, #38a4d3);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: inline-block;
  pointer-events: none;
}

.intro h3 {
  font-size: 3rem;
  padding: 1rem 0rem;
}

.intro p {
  font-size: 1.5rem;
  padding: 1rem 0rem;
}

.intro .intro-social {
  padding: 2rem 0rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  -webkit-box-align: left;
      -ms-flex-align: left;
          align-items: left;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.intro .intro-social a {
  padding-right: 2rem;
  font-size: 30px;
}

.intro .icons-second-line {
  border-bottom: 2px solid rgba(6, 6, 53, 0.281);
  padding-bottom: 70px;
}

.intro .icons-second-line img {
  width: 40px;
  height: 40px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  margin: 10px;
}

.intro .icons-second-line img:hover {
  scale: 1.1;
}

.splash {
  position: absolute;
  top: 0%;
  left: 60%;
  height: 100%;
  z-index: -1;
}

.active {
  background: #2c2c2c;
  color: white;
  padding: 1rem 3rem;
  border-radius: 3rem;
}

.intro-text,
.intro-images {
  -webkit-box-flex: 2;
      -ms-flex: 2 1 40rem;
          flex: 2 1 40rem;
}

.color {
  height: 100px;
  width: 100px;
}

.svg {
  width: 70%;
}

.cursor {
  height: 40px;
  width: 40px;
  border: 2px solid #19418aab;
  border-radius: 50%;
  position: absolute;
  /* display:none; */
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  pointer-events: none;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-transition-property: background, -webkit-transform;
  transition-property: background, -webkit-transform;
  transition-property: background, transform;
  transition-property: background, transform, -webkit-transform;
  -webkit-transform-origin: 75% 75%;
          transform-origin: 75% 75%;
}

.activeCursor {
  background: yellow;
  -webkit-transform: scale(2);
          transform: scale(2);
}

.cursor-text {
  color: black;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.activeCursorButton {
  background: white;
  -webkit-transform: scale(2);
          transform: scale(2);
  -webkit-transform-origin: 85% 25%;
          transform-origin: 85% 25%;
}

@-webkit-keyframes leaf_right {
  from {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
  to {
    -webkit-transform: translateY(3%);
            transform: translateY(3%);
  }
}

@keyframes leaf_right {
  from {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
  to {
    -webkit-transform: translateY(3%);
            transform: translateY(3%);
  }
}

#leaf_right {
  -webkit-animation: leaf_right 1s ease infinite alternate;
          animation: leaf_right 1s ease infinite alternate;
}

#leaf_left {
  -webkit-animation: leaf_right 1s ease infinite alternate 0.5s;
          animation: leaf_right 1s ease infinite alternate 0.5s;
}

#mc_krus {
  -webkit-animation: me 1s ease-in-out infinite alternate;
          animation: me 1s ease-in-out infinite alternate;
  -webkit-transform-origin: bottom;
          transform-origin: bottom;
}

@-webkit-keyframes me {
  from {
    -webkit-transform: scale(0.85) rotateZ(8deg);
            transform: scale(0.85) rotateZ(8deg);
  }
  to {
    -webkit-transform: scale(0.8) rotateZ(-6deg);
            transform: scale(0.8) rotateZ(-6deg);
  }
}

@keyframes me {
  from {
    -webkit-transform: scale(0.85) rotateZ(8deg);
            transform: scale(0.85) rotateZ(8deg);
  }
  to {
    -webkit-transform: scale(0.8) rotateZ(-6deg);
            transform: scale(0.8) rotateZ(-6deg);
  }
}

@-webkit-keyframes clock {
  form {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes clock {
  form {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

#arrow-clock {
  -webkit-animation: clock 4s infinite linear;
          animation: clock 4s infinite linear;
  transform-box: fill-box;
  -webkit-transform-origin: bottom;
          transform-origin: bottom;
}

/* ---------------first page */
.first-page-icons {
  -webkit-box-align: left;
      -ms-flex-align: left;
          align-items: left;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.424)), to(white));
  background: linear-gradient(rgba(255, 255, 255, 0.424), white);
}

.first-page-icons .intro-social {
  text-align: center;
  margin-top: 20px;
}

.first-page-icons .intro-social a {
  padding: 50px;
}

.first-section {
  height: 70vh;
}

.icons-second-line {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(88px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(88px, 1fr));
  padding: 2rem;
  width: 80%;
}

.first-page-icons img {
  width: 50px;
  height: 50px;
  -o-object-fit: contain;
     object-fit: contain;
}

.transition li {
  z-index: 100;
}

/* ------------AAAAAAAAAAAA */
.container {
  max-width: 1900px;
}

.projects {
  width: 90%;
  margin: 0 auto;
  margin-top: 50px;
}

.projects .main-projects {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin: 40px 20px;
  padding: 10px;
}

.projects .main-projects .main-project-example {
  width: 19%;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin: 0px 10px;
}

.projects .main-projects .main-project-example .project {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  padding: 16px;
}

.projects .main-projects .main-project-example .project:hover {
  opacity: 0.9;
  background-color: rgba(238, 234, 234, 0.794);
}

.projects .main-projects .main-project-example .project img {
  display: block;
  width: 100%;
}

.projects .main-projects .main-project-example .project img:hover {
  opacity: 1;
  -webkit-filter: brightness(100%);
          filter: brightness(100%);
}

.projects .main-projects .main-project-example .project .project-description {
  text-align: center;
  margin: 20px;
  margin-bottom: 20px;
}

.projects .main-projects .main-project-example .project .project-description p {
  margin: 10px 20px 20px 20px;
  font-size: 18px;
}

.project {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
  min-height: 300px;
  margin-bottom: 20px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  background: rgba(216, 214, 214, 0.109);
  border-radius: 20px;
  -webkit-box-shadow: 2px 2px 2px 2px rgba(128, 128, 128, 0.178);
          box-shadow: 2px 2px 2px 2px rgba(128, 128, 128, 0.178);
}

.project:hover {
  -webkit-box-shadow: 2px 2px 2px 2px rgba(128, 128, 128, 0.315);
          box-shadow: 2px 2px 2px 2px rgba(128, 128, 128, 0.315);
}

.project .project-image-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.project .mobile-title {
  display: none;
}

h2 {
  padding: 30px;
}

p {
  text-align: center;
  margin-bottom: 11px;
}

.project-description {
  margin-left: 40px;
}

.project-description li {
  list-style: "-  ";
  font-size: 14px;
}

.project img {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  max-height: 400px;
  width: 400px;
  border-radius: 10px;
  margin: 0px 5px;
}

.project img:hover {
  -webkit-filter: brightness(90%);
          filter: brightness(90%);
  cursor: pointer;
}

.project5SmallScreen {
  display: none;
}

@media (max-width: 1300px) {
  .main-project-example {
    display: none;
  }
  .project5SmallScreen {
    display: block;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .project-description {
    margin: 10px 0px;
  }
}

@media (max-width: 1300px) and (max-width: 750px) {
  .project {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.form-section {
  min-height: 80vh;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 80%;
  margin: 0 auto;
}

.form-section .about {
  width: 44%;
  margin: 0 100px;
  text-align: center;
  font-size: 30px;
  color: #3e3f42;
}

.form-section .about img {
  display: block;
  width: 100%;
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
  -webkit-transform: scaleX(-1);
          transform: scaleX(-1);
  max-height: 800px;
  opacity: 0.7;
  -webkit-box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.3), 0px 20px 10px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.3), 0px 20px 10px rgba(0, 0, 0, 0.3);
  border-radius: 1%;
}

.form-section .about p {
  font-size: 30px;
}

.form-section .about li {
  list-style: none;
  font-size: 30px;
}

.form-section .about li i {
  margin: 10px;
}

.form-section .about ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  list-style: none;
}

.form-section .about ul li {
  margin: 10px 10px;
}

.form-section .about ul li img {
  width: 50px;
  -webkit-filter: grayscale(0%);
          filter: grayscale(0%);
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
  -webkit-filter: blur(100%);
          filter: blur(100%);
  -webkit-box-shadow: none;
          box-shadow: none;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.form-section .about ul li img:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.form-section .formularz {
  display: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
}

.form-section .formularz form {
  width: 100%;
  padding: 1rem 2rem;
  -webkit-box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.3), 0px 20px 10px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.3), 0px 20px 10px rgba(0, 0, 0, 0.3);
  height: 70%;
  padding: 5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-radius: 2rem;
}

.form-section .formularz form label {
  padding: 0.5rem 0.5rem;
  width: 80%;
  text-align: center;
  font-size: 18px;
}

.form-section .formularz form input,
.form-section .formularz form textarea {
  padding: 0.5rem;
  width: 90%;
  font-size: 22px;
  font-family: 'Amatic SC', cursive;
}

.form-section .formularz form input:focus,
.form-section .formularz form textarea:focus {
  outline: 2px solid black;
}

.form-section .formularz button {
  width: 50%;
  padding: 1rem;
  background-color: #192844;
  margin-top: 0.5rem;
  color: white;
  font-size: 22px;
}

#map {
  height: 200px;
  width: 100%;
}

footer {
  background: #192844;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 10px;
  height: 10vh;
}

footer ul {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 40rem;
          flex: 1 1 40rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

footer h4 {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 40rem;
          flex: 1 1 40rem;
  text-align: center;
}

body h2 {
  color: #423e3e;
  font-size: 60px;
  text-align: center;
  margin-bottom: 10px;
  margin-top: 30px;
}

body .article {
  width: 86%;
  margin: 0 auto;
  max-width: 1110px;
  margin-bottom: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

body .article img {
  height: 400px;
  background-size: contain;
}

body .article .text {
  margin-top: 20px;
}

body .article .text p {
  text-align: left;
}

body .line {
  border-bottom: 2px solid #443e3e;
  width: 90%;
  margin: 0 auto;
  margin-bottom: 40px;
  -webkit-box-shadow: 0px 11px 3px -6px rgba(0, 0, 0, 0.38);
  box-shadow: 0px 11px 3px -6px rgba(0, 0, 0, 0.38);
}

body .line h3 {
  font-size: 30px;
}

body .line p {
  max-width: 900px;
  width: 100%;
  text-align: left;
  margin-top: 20px;
}

.cursor {
  height: 40px;
  width: 40px;
  border: 2px solid #19418aab;
  border-radius: 50%;
  position: absolute;
  /* display:none; */
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  pointer-events: none;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-transition-property: background, -webkit-transform;
  transition-property: background, -webkit-transform;
  transition-property: background, transform;
  transition-property: background, transform, -webkit-transform;
  -webkit-transform-origin: 75% 75%;
          transform-origin: 75% 75%;
}

.activeCursor {
  background: yellow;
  -webkit-transform: scale(2);
          transform: scale(2);
}

.cursor-text {
  color: black;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.activeCursorButton {
  background: white;
  -webkit-transform: scale(2);
          transform: scale(2);
  -webkit-transform-origin: 85% 25%;
          transform-origin: 85% 25%;
}

@media screen and (max-width: 1530px) {
  html {
    font-size: 73%;
  }
  .icons-first-line {
    scale: 0.6;
  }
  .intro {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  div.intro-images {
    padding: 5px;
  }
  .me {
    height: 440px;
    width: 500px;
    display: block;
  }
  nav {
    width: 100%;
  }
}

@media screen and (max-width: 1530px) and (max-width: 1100px) {
  html {
    font-size: 63%;
  }
}

@media screen and (max-width: 1530px) and (max-width: 970px) {
  html {
    font-size: 53%;
  }
  .first-page-icons {
    display: none;
  }
  .main-head {
    width: 90%;
    margin: 0 auto;
  }
  ul li a {
    font-size: 2rem;
  }
  .intro {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    min-height: 60vh;
  }
  .splash {
    display: none;
  }
  div.intro-images {
    padding: 5px;
  }
  .me {
    height: 340px;
    width: 400px;
    display: block;
  }
  nav {
    min-width: 100%;
  }
}

@media screen and (max-width: 1530px) and (max-width: 820px) {
  .intro-text h3 {
    font-size: 23px;
  }
  .intro-social img {
    height: 40px;
  }
}

@media screen and (max-width: 1530px) and (max-width: 720px) {
  .intro-text h3 {
    font-size: 23px;
  }
  .intro-social img {
    height: 40px;
  }
  .Logo h1 {
    display: none;
  }
  .me {
    height: 240px;
    width: 300px;
    display: block;
  }
}

@media screen and (max-width: 1530px) and (max-width: 580px) {
  nav {
    width: 100%;
    padding-right: 10px;
  }
  .intro {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 50vh;
  }
  .intro-text {
    width: 90%;
    display: block;
    height: 300px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 0px;
  }
  .intro-social img {
    height: 40px;
  }
  .me {
    height: 240px;
    width: 300px;
    display: block;
  }
}

@media screen and (max-width: 1530px) and (max-width: 500px) {
  .main-head nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 0 auto;
    height: 10vh;
    padding-right: 30px;
  }
  .Logo {
    width: 30%;
  }
  .Logo h1 {
    display: none;
  }
  nav ul {
    width: 70%;
  }
  .intro {
    height: 400px;
  }
  .intro .intro-text p {
    text-align: center;
  }
  .me {
    height: 200px;
  }
}

@media screen and (max-width: 1530px) and (max-width: 380px) {
  .main-head {
    width: 90%;
    margin: 0 auto;
  }
  .main-head .main-head nav {
    min-height: 20vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .main-head .main-head nav {
    border: 2px solid blue;
    width: 90%;
    margin: 0 auto;
  }
  .main-head .main-head nav .Logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-flex: 1;
        -ms-flex: 1 1 20rem;
            flex: 1 1 20rem;
  }
  .main-head .Logo h1 {
    display: none;
  }
  .main-head .active {
    background: #2c2c2c;
    color: white;
    padding: 1rem 1.5rem;
    border-radius: 1.5rem;
  }
  .main-head ul a {
    font-size: 13px;
  }
}

ul.transition {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

ul.transition li {
  -webkit-transform: scaleY(0);
          transform: scaleY(0);
  background: #0e3b7e;
  width: 20%;
  height: 100vh;
}
/*# sourceMappingURL=style.css.map */