
body{
      h2 {
            color: #423e3e;
            font-size: 60px;
            text-align: center;
            margin-bottom: 10px;
            margin-top: 30px;
         
        }
    .article {
                width: 86%;
                margin: 0 auto;
                max-width: 1110px;
              margin-bottom: 40px;
              @include flex(center,center, column);
              img{
                height:400px;
            
                  background-size: contain;
              }
              
                .text{
                    margin-top:20px;
                    
                    p{
                        text-align: left;
                    }
                 

                }
            }
        
.line{
                  border-bottom: 2px solid rgb(68, 62, 62);
                
                      width:90%;
                      margin:0 auto;
                       margin-bottom: 40px;
                    -webkit-box-shadow: 0px 11px 3px -6px rgba(0,0,0,0.38);
-moz-box-shadow: 0px 11px 3px -6px rgba(0,0,0,0.38);
box-shadow: 0px 11px 3px -6px rgba(0,0,0,0.38);
        

            h3 {
                font-size: 30px;
            }

           

            p {
                max-width: 900px;
                width: 100%;
                text-align: left;
                margin-top: 20px;
        
            }
        }
    }

    // ------------------------------CURSOR SECTION--------------------------

.cursor{
    height:40px;
    width:40px;
    border:2px solid #19418aab;
    border-radius: 50%;
    position: absolute;
    /* display:none; */
   transform:translate(-50%, -50%);
   pointer-events: none;
   transition: 0.5s;
   transition-property: background, transform;
   transform-origin: 75% 75%;
}
.activeCursor{
    background:yellow;
   transform:scale(2)
}

.cursor-text{
    color:black;
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
   
}
.activeCursorButton{
    background:white;
    transform:scale(2);
    transform-origin: 85% 25%;

}
// ----------------------------------------------------
        