.projects{
    width:80%;
    margin: 0 auto;
    min-height: 80vh;
    margin-top: 50px;
    // @include flex(space-evenly, left, row);
    // flex-wrap: wrap;
    display: grid;
  grid-template-rows: repeat(auto-fill, minmax(355px, 1fr));

}


.travelly,
.photography,
.quiz,
.project{
    @include flex(center, center, row);
    width: 400px;
    height:400px;
    padding:50px;
    flex: 1 1 25rem;
    padding-top: 0px;
    transition:0.4s;
    margin:50px;
     .project-image-title{
           @include flex(center, center, column);

   }
 
}
    h2{
        padding:30px
    }
    p{
        text-align: center;
        margin-bottom: 11px;
    }
    li{
    list-style: circle;
    margin-left: 30px;
    }
  

    .travelly img,
.photography img,
.quiz img,
.projects img{
        transition:0.5s;
        height:350px;
        border-radius: 10px;
        
    }

.travelly img:hover,
.photography img:hover,
.quiz img:hover,
.project img:hover{
filter:brightness(80%);
cursor:pointer;

}

@media (max-width:1620px){
     .projects img{
        transition:0.5s;
        height:300px
    }
}
@media (max-width:1355px){
    .projects{
        flex-wrap: nowrap;
    }
    .travelly,
.photography{
    @include flex(center, center, column);
    width: 200px;
    padding:50px;
    flex: 1 1 15rem;
    padding-top: 0px;
    transition:0.4s
}
     .projects img{
        transition:0.5s;
                height:300px
    }
}
@media (max-width:1200px){
     .projects .travelly img ,
     .projects .photography img{
        height:300px
        
    }
    
@media (max-width:905px){
    .projects .travelly img ,
     .projects .photography img{
        height:250px
        
    }
}
.projects img{
        transition:0.5s;
                height:270px
    }
   
@media (max-width:775px){
    .projects .travelly img ,
     .projects .photography img{
        height:200px
        
    }
}
@media (max-width:775px){
    .container{
        @include flex(center, center, column)

    }
    .projects {
        flex-wrap: wrap;
          grid-template-rows: repeat(auto-fill, minmax(255px, 1fr));

    }
     .projects .travelly  ,
     .projects .photography {
padding:10px;        
    }
     .projects h2  ,
     .projects h2 {
padding-top:0px;        
    }
    .projects .travelly img ,
     .projects .photography img{
        height:300px
        
    }
    .projects img{
        transition:0.5s;
                height:250px
    }
     .container{
        @include flex(center,center, column)
    }
  .project{
      height:230px;
  }
    .project-description{
      display:none
    }
}
@media (max-width:444px){
    .container{
        border:2px solid red;
    }
       .projects {
    flex-wrap: wrap;
    border:2px solid red;
    @include flex (center,center, column);
    
    }
    .projects .travelly img ,
     .projects .photography img{
        height:150px
        
    }
    .projects h2  ,
     .projects h2 {
    font-size: 22px;   
    padding:5px;    
    }
    
 
}
}
