.projects{
    width:80%;
    margin: 0 auto;
    margin-top: 50px;
    // display: grid;
//   grid-template-rows: repeat(auto-fill, minmax(755px, 1fr));
}
.project{
    @include flex(left, center, row);
    width: 100%;
    min-height:300px;
    max-height: 500px;
    margin-bottom: 20px;
    transition:0.2s;
    background:rgba(216, 214, 214, 0.109);
    border-radius: 20px;
    box-shadow: 2px 2px 2px 2px rgba(128, 128, 128, 0.178);

    &:hover{
        // background:rgba(197, 142, 15, 0.137);
        box-shadow: 2px 2px 2px 2px rgba(128, 128, 128, 0.315);
    }
     .project-image-title{
           @include flex(center, center, column);
   }
}
    h2{
        padding:30px;
    }
    p{
        text-align: center;
        margin-bottom: 11px;
    }
    .project-description {
    margin-left: 40px;
        li{
            list-style: "-  ";
            font-size: 14px;
        }
    }
.projects img{
        transition:0.5s;
        max-height:400px;
        width:400px;
        border-radius: 10px;
    }
.project img:hover{
filter:brightness(90%);
cursor:pointer;
}
@media (max-width:1620px){
     .projects img{
        transition:0.5s;
        height:300px
    }
}
@media (max-width:1355px){
    .projects{
        flex-wrap: nowrap;
    }
.travelly,
.photography,
.project{
    @include flex(center, center, column);
    width: 200px;
    padding:50px;
    flex: 1 1 15rem;
    padding-top: 0px;
    transition:0.4s
}
     .projects img{
        transition:0.5s;
        height:300px
    }
}
@media (max-width:1200px){
     .projects .travelly img ,
     .projects .photography img{
        height:300px
        
    }
    
@media (max-width:905px){
    .projects .travelly img ,
     .projects .photography img{
        height:250px
        
    }
}
.projects img{
        transition:0.5s;
                height:270px
    }
   
@media (max-width:775px){
    .projects .travelly img ,
     .projects .photography img{
        height:200px
        
    }
}
@media (max-width:775px){
    .container{
        @include flex(center, center, column)

    }
    .projects {
        flex-wrap: wrap;
          grid-template-rows: repeat(auto-fill, minmax(255px, 1fr));

    }
     .projects .travelly  ,
     .projects .photography {
padding:10px;        
    }
     .projects h2  ,
     .projects h2 {
padding-top:0px;        
    }
    .projects .travelly img ,
     .projects .photography img{
        height:200px;
        width:150px
        
    }
    .projects img{
        transition:0.5s;
                height:250px
    }
     .container{
        @include flex(center,center, column)
    }
  .project{
      height:230px;
  }
    .project-description{
      display:none
    }
}
@media (max-width:444px){
    .container{
        border:2px solid red;
    }
       .projects {
    flex-wrap: wrap;
    border:2px solid red;
    @include flex (center,center, column);
    
    }
    .projects .travelly img ,
     .projects .photography img{
        height:150px
        
    }
    .projects h2  ,
     .projects h2 {
    font-size: 22px;   
    padding:5px;    
    }
    
 
}
}
